<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link
  href="https://bootswatch.com/4/journal/bootstrap.css"
  rel="stylesheet">
  <title>Flask Survey</title>
</head>
<body>

  <div class="container">
    <div class="row vh-100">
      <div class="my-auto">
        <div class="col">
          <h1> {% block header %} {% endblock %} </h1>
          {% block content %}
          {% endblock %}
        </div>
      </div>
  </div>
</div>




</body>
</html>