{% extends 'base.html' %}

{% block title %}
{{ question }}

{% endblock %}
{% block content %}


  

  <form action="/answer" method="POST">
      {% for choice in choices %}
      <p>
        <input
            type="radio"
            name="answer"
            value="{{choice}}" 
            {% if choice == current_answer %}checked{% endif %}>
        {{choice}}
      </p>
      {% endfor %}
      {% if allow_text %}
      <textarea name="comment" rows="3" placeholder="comment (optional)"></textarea>
      {% endif %}

      {% if display_back %}
      <a class="btn btn-secondary" href="/back">Back</a>
      {% endif %}
      {% if display_next %}
      <button class="btn btn-primary">Next</button>
      {% endif %}
      {% if display_finish %}
      <button class="btn btn-success">Finish</button>
      {% endif %}
    </form>
    
    
  {% for msg in get_flashed_messages() %}
  <p>{{msg}}</p>
  {% endfor %}

{% endblock %}
