{% extends 'base.html' %}
{% block title %}
  <h1>Thank You! Here Were Your Answers:</h1>
{% endblock %}
{% block content %}
<ol>
  {% for response in responses %}
    <li>
      <strong>{{response["question"]}}</strong>
      <span>
        {% if not response["answer"] == None %}
        {{response["answer"]}} 
        {% endif %}
        {% if not response["comment"] == None %}
        <em>{{response["comment"]}}</em>
        {% endif %}
      </span>
    </li>
  {% endfor %}
</ol>

<a class="btn btn-primary" href="/">Home</a>

{% for msg in get_flashed_messages() %}
  <p>{{msg}}</p>
  {% endfor %}
  
{% endblock %}